@keyframes fadein{animation: fadein 2s;
    from{animation: fadein 2s;
    opacity:0;
    }
    to{animation: fadein 2s;opacity:1;}
}

body{animation: fadein 2s;
	animation: fadein 2s;
	margin: 0;
	height:720px;
	width: 1024px;
	background: transparent;
	font-family: sans-serif;

}

#introbg {animation: fadein 2s;
	background-repeat: no-repeat;
	width:1296px;
	height:736px;
}

sup {animation: fadein 2s;
	letter-spacing: 0px;
	font-size: 15px;
	font-weight: normal;
	position: relative;
}

p{animation: fadein 2s;
	position: relative;
	top: -50px;
	letter-spacing: 0px;
	font-weight: normal;
	font-size: 25px;
}

#marvel,#login {animation: fadein 2s;
	letter-spacing: -5px;
	font-weight: bolder;
	color: white;
	font-size: 60px;
	text-align: center;
	text-shadow: 3px 2px 8px black;
	padding: 16px;
	position: absolute;
}

#marvel {animation: fadein 2s;
	min-width: 600px;
	width: 0%;
	height: 200px;
	top: 0px;
	left: 10px;	
	float: left;
	}





#login{animation: fadein 2s;
	height: 260px;
	min-width: 205px;
	width: 20%;
	bottom: 0px;
	right: 10px;
	float: right;
	}

#login:hover{animation: fadein 2s;
	cursor: pointer;
}