<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/main_style.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/png">
    <title>Mini Project 2 - Redefined</title>
</head>
<body background="static/LoginBg.jpg">
<div id="login">
    <h3>FaceID<p>Welcome To the Future !</p></h3>
    <h4><p>- Please select a course of - <br><b> - Action - </b></p></h4>
    <div id="links">
    <ul type="circle">
        <li><a href="/data-gen/"> Fetch and Train Your Face Data </a></li>
        <li><a href="/reco-results/"> Who am I ? </a></li>
        <li><a href="/haar-cascades/"> Detect a Face Boundary </a></li>
        <li><a href="/capture/"> Capture a Photo </a></li>
        <li><a href="/upload/"> Upload the Photo </a></li>
        <li><a href="/yolo/"> Run YOLO and Detect Objects</a></li>


        <li><a href="/my-link/"> About US </a></li>
    </ul>
    </div>
    <div id="signup">
        <p><b>New</b> Around Here ?<br>You can always try <b>Signing Up</b>. It's Free <b>:)</b></p>
        <a href="signup.html">
            <button id="signupButton">SignUp</button>
        </a>
    </div>
    <p>Copyright Tornado,Inc.<sup><i>TM</i></sup> (2017). All Rights Reserved.</p>
</div>
</body>
</html>